body {
    margin: 0;
}

* {
    font-family: Roboto;
}

.navbar-bg, .hero-bg {
    background-color: #1f2937;
}

.navbar, .hero, .cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 10px;
}

.logo {
    color: #e5e7eb;
    font-weight: bold;
    font-size: 24px;
}

.hero-bg, .random-bg, .quote-bg, .cta-box {
    padding: 75px 0;
}

.hero {
    gap: 50px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    margin: auto;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
    margin: 10px 0 20px;
}

.mask {
    height: 350px;
}

.box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 300px;
    gap: 25px;
}


.random-title {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.random-subtext {
    text-align: center;
    border: 3px solid #3882f6;
    border-radius: 8px;
    padding: 100px 10px 10px 10px;
}

.quote-bg {
    background-color: #e5e7eb;
}

.quote {
    margin: 0 300px;
}

.actual-quote {
    margin: 0;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.thor {
    text-align: right;
    font-weight: bold;
}

.cta-container {
    background-color: #3882f6;
    padding: 25px 100px;
    border-radius: 8px;
}

.cta-title, .cta-subtext {
    color: #f9faf8;
}

.cta-title {
    font-weight: bold;
    margin-bottom: 0;
}

.cta-subtext {
    margin-top: 5px;
}

button {
    padding: 8px 30px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 8px;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bold;
}

.footer {
    background-color: #1f2937;
    padding: 25px 300px;
}

.copyright {
    text-align: center;
    color: #f9faf8;
}

.hero-button {
    background-color: #3882f6;
    border: none;
}